name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Check Pandas Logic
      id: check-pandas-logic
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Check Pandas Logic
        setup-command: pip install -r requirements.txt
        command: pytest tests/test_analysis.py
        timeout: 10
        max-score: 100
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        CHECK-PANDAS-LOGIC_RESULTS: "${{steps.check-pandas-logic.outputs.result}}"
      with:
        runners: check-pandas-logic
